<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Template</title>
	<link rel="stylesheet" type="text/css" href="assest/css/Template.css">
	<link rel="stylesheet" type="text/css" href="assest/css/Template.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Yummy</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsSupportedContent">
	<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsSupportedContent">
<ul class="navbar-nav m-auto">
<li class="nav-item active pr-4">
<a class="nav-link" href="#">Home<span class="sr-only">(current)</span>
</a>
</li>

<li class="nav-item pr-4">
<a class="nav-link" href="#">About<span class="sr-only">(current)</span>
</a>
</li>

<li class="nav-item pr-4">
<a class="nav-link" href="#">Menu<span class="sr-only">(current)</span>
</a>
</li>

<li class="nav-item pr-4">
<a class="nav-link" href="#">Events<span class="sr-only">(current)</span>
</a>
</li>

<li class="nav-item pr-4">
<a class="nav-link" href="#">Chefs<span class="sr-only">(current)</span>
</a>
</li>

<li class="nav-item pr-4">
<a class="nav-link" href="#">Gallery<span class="sr-only">(current)</span>
</a>
</li>

<li class="nav-item dropdown pr-4">
<a class="nav-link dropdown-toggle" href="#" id="navbarsSupportedContent"role="button" data-toggle="dropdown">DropDown</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="#">Starters</a>
<a class="dropdown-item" href="#">Breakfast</a>
<a class="dropdown-item" href="#">Lunch</a>
<a class="dropdown-item" href="#">Dinner</a>
</div>
</li>

<li class="nav-item pr-4">
<a class="nav-link" href="#">Contact<span class="sr-only">(current)</span>
</a>
</li>
<div class="kty">
<button class="btn badge badge-pill badge-danger ml-5 pl-3 pr-3" type="button">Book a Table</button>
</div>
</ul>
</div>
</nav>

<div class="demo container">
<div class="row">
<div class="col-5">	
<h1>ENJOY YOUR HEALTHY DELICIOUS FOOD</h1>
<p> Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum beatae cumque eum<br> quaerat.</p>

<button class="btn badge badge-pill badge-danger ml-5 p-2 pl-3 pr-3" type="submit">Book a Table</button>
<i class="fa-regular fa-circle-play"></i>
<span>Watch video</span>
</div> 
<div class="col-6">
<img src="C:\Users\hp\Desktop\Template\assest\images\pic-1.png" width="400" height="400">
</div>
</div>
</div>

<div class="unit container text-center">
<h6>ABOUT US</h6>
<h1>LEARN MORE <span>ABOUT US</span></h1>
</div>
<div class="row">
<div class="lusu col-6">
<div class="ref7">
<h6>Book a table</h6>
<h5>+1 5589 55488 55</h5>
</div>
</div>

<div class="col-3">
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua.</p>

 <p> <i class="fa-sharp fa-solid fa-check-double"></i>ullamco laboris nisi ut aliquip ex ea commodo
 consequat.</p>

<p><i class="fa-sharp fa-solid fa-check-double"></i>  Duis aute irure dolor in reprehenderit in  voluptate velit</p>

<p><i class="fa-sharp fa-solid fa-check-double"></i>lamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur.</p>

<p>ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident</p>
<iframe width="300" height="315" src="https://www.youtube.com/embed/x5quhVqGeKw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
</div>
</div>

<br>
<div class="container bg-light pt-5">
<div class="row">
<div class="col-3">	
<div class="card" style="width:290px;">
<div class="card body">
<div class="bg-danger p-3">
<h2 class="card-text" style="color: white; padding-bottom: 14px;"> Why choose yummy?</h2>
<p class="card-text" style="color: white; font-size: 15px;">lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do elusmod tempor incididunt ut labore et dolare magna aliqua.duis aute irure dolor in reprehenderit asperiores dolores sed et. tenetur quia eos. autem tempore quibusdam vel necessitatibus optio ad corporis.</p>
<a href="#" class="btn btn-danger" style="text-align: center;margin-left: 50px;">Learn More</a>
</div>
</div>
</div>
</div>

<div class=" gkt col-3 p-5">
<div class="card" style="width:220px;">
<center><i class="fa-brands fa-github" style="color: red; font-size: 23px;"></i></center>	
<div class="card-body">
<h2 class="card-text"style="text-align: center;font-size: 15px; padding-bottom: 27px;">Corporis Volupatates officia eiusmod</h2>
<p class="card-text"style="text-align: center;font-size: 17px; padding-bottom: 25px;">Consequuntur sunt aut quasi enim allquam quae harum pariatur laboris nisi ut aliqip</p>
</div>
</div>
</div>



<div class=" gkt1 col-3 p-5">
<div class="card" style="width: 220px;">
<center><i class="fa-brands fa-tiktok" style="color: red; font-size: 23px;"></i></center>
<div class="card-body">
<h2 class="card-body"style="text-align: center;font-size: 15px; padding-bottom: 18px;">Ullamco laboris ladore pan</h2>
<p class="card-text" style="text-align: center;font-size: 17px; padding-bottom: 16px;">Excepteur sint occaecat cupedatat non proident sunt in culpa qui officia deserunt</p>
</div>
</div>
</div>

<div class=" gkt2 col-3 p-5">
<div class="card" style="width: 220px;">
<center><i class="fa-solid fa-cloud" style="color: red; font-size: 23px;"></i></center>
<div class="card-body">
<h2 class="card-text" style="text-align: center;font-size: 15px; padding-bottom: 20px;" >Labore consequater incidid dolore </h2>
<p class="card-text" style="text-align: center;font-size: 17px; padding-bottom: 19px;">Aunt suscipit aut cum nemo delenitl aut omnis doloribus ut maicres omnis facere</p>
</div>
</div>
</div>
</div>
</div>

<div class="papa">

<div class="para container">
<div class="row">
<div class="ref col-3">
<p>232</p>
<span>clients</span>
</div>	

<div class="ref1 col-3">
<p>521</p>
<span>Projects</span>
</div>

<div class="ref2 col-3">
<p>1453</p>
<span>Hours of Support</span>
</div>	

<div class="ref3 col-3">
<p>32</p>
<span>Workers</span>
</div>
</div>
</div>
</div>
<br>

<div class="food container text-center pt-5">
<h6>OUR MENU</h6>
<span>CHECK OUR <span>YUMMY MENU</span></span>
</div>
<div class=" yemmy container mr-5">
	<ul class="nav nav-tabs justify-content-center pr-5">

<li class="nav-item">		
<a class="nav-link" data-toggle="tab" href="#Starters">Starters</a>	
</li>

<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#Breakfast">Breakfast</a>
</li>

<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#Lunch">Lunch</a>
</li>

<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#Dinner">Dinner</a>	
</li>
</ul>
</div>
<br>
<div class="container">
<div class="tab-content">
<div class="tab-pane container fade" id="Starters">
<div class="day text-center pb-3">
<h5>MENU</h5>
<span><b>Starters</b></span></div>	
<div class="row text-center">
<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\bbbb.jpg" width="130" height="130">
<h6>Magnam Tiste</h6>
<span>Lorem,deren,trataro,filede,nerada</span><p>$5.95</p>
</div>

<div class="col-4">	
<img src="C:\Users\hp\Desktop\food\images\cccc.jpg" width="130" height="130">
<h6>Aut Luia</h6>
<span>Lorem,deren,trataro,filede</span>
<p>$14.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\dddd.jpg" width="130" height="130">
<h6>Est Eligendi</h6>
<span>Lorem,deren,tratro,filede</span>
<p>$8.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\ffff.jpg" width="130" height="130">
<h6>Eos Luibusdam</h6>
<span>Lorem,deren,tratro,filede</span>
<p>$12.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\gggg.jpg" width="130" height="130">
<h6>Eos Luibusdam</h6>
<span>Lorem,deren,tratro,filede</span>
<p>$12.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\eeee.jpg" width="130" height="130">
<h6>Laboriosam Direva</h6>
<span>Lorem,deren,tratro,filede</span>
<p>$9.95</p>
</div>
</div>
</div>

<div class="tab-pane container fade" id="Breakfast">
<div class="day text-center pb-3">
<h5>MENU</h5>
<span><b>Breakfast</b></span></div>	
<div class="row text-center">
<div class="col-4">	
<img src="C:\Users\hp\Desktop\food\images\dosa.jpg" width="130" height="130">	
<h6>Magnam Tiste</h6>
<span>Lorem,deren,trataro,filede,nerada</span>
<p>$5.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\image1.jpg" width="130" height="130">
<h6>Aut Luia</h6>
<span>Lorem,deren,trataro,filede</span>
<p>$14.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\image2.jpg" width="130" height="130">
<h6>Est Eligendi</h6>
<span>Lorem,deren,tratro,filede</span>
<p>$8.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\image3.jpg" width="130" height="130">
<h6>Eos Luibusdam</h6>
<span>Lorem,deren,tratro,filede</span>
<p>$12.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\poori.jpg" width="130" height="130">	
<h6>Eos Luibusdam</h6>
<span>Lorem,deren,tratro,filede</span>
<p>$12.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\rava-pongal.jpg" width="130" height="130">	
<h6>Laboriosam Direva</h6>
<span>Lorem,deren,tratro,filede</span>
<p>$9.95</p>
</div>
</div>
</div>

<div class="tab-pane container fade" id="Lunch">
<div class="day text-center pb-3">
<h5>MENU</h5>
<span><b>Lunch</b></span></div>		
<div class="row text-center">
<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\image15.jpg" width="130" height="130">
<h6>Magnam Tiste</h6>
<span>Lorem,deren,trataro,filede,nerada</span>
<p>$5.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\image16.jpg" width="130" height="130">	
<h6>Aut Luia</h6>
<span>Lorem,deren,trataro,filede</span>
<p>$14.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\image14.jpg" width="130" height="130">	
<h6>Est Eligendi</h6>
<span>Lorem,deren,tratro,filede</span>
<p>$8.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\image12.jpg" width="130" height="130">	
<h6>Eos Luibusdam</h6>
<span>Lorem,deren,tratro,filede</span>
<p>$12.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\image11.jpg" width="130" height="130">	
<h6>Eos Luibusdam</h6>
<span>Lorem,deren,tratro,filede</span>
<p>$12.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\image15.webp" width="130" height="130">	
<h6>Laboriosam Direva</h6>
<span>Lorem,deren,tratro,filede</span>
<p>$9.95</p>
</div>
</div>
</div>

<div class="tab-pane container fade" id="Dinner">
<div class="day text-center pb-3">
<h5>MENU</h5>
<span><b>Dinner</b></span></div>		
<div class="row text-center">
<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\image10.jpg" width="130" height="130">
<h6>Magnam Tiste</h6>
<span>Lorem,deren,trataro,filede,nerada</span>
<p>$5.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\eeee.jpg" width="130" height="130">	
<h6>Aut Luia</h6>
<span>Lorem,deren,trataro,filede</span>
<p>$14.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\image3.jpg" width="130" height="130">	
<h6>Est Eligendi</h6>
<span>Lorem,deren,tratro,filede</span>
<p>$8.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\image4.jpg" width="130" height="130">	
<h6>Eos Luibusdam</h6>
<span>Lorem,deren,tratro,filede</span>
<p>$12.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\rava-pongal.jpg" width="130" height="130">
<h6>Eos Luibusdam</h6>
<span>Lorem,deren,tratro,filede</span>
<p>$12.95</p>
</div>

<div class="col-4">
<img src="C:\Users\hp\Desktop\food\images\dosa image.jpg" width="130" height="130">	
<h6>Laboriosam Direva</h6>
<span>Lorem,deren,tratro,filede</span>
<p>$9.95</p>
</div>
</div>
</div>
</div>
</div>


<div class="bg-light">
<div class=" test container text-center pt-5">	
<h6>TESTIMONIAL</h6>
<span>WHAT ARE THEY <span>SAYING ABOUT US</span></span>
</div>
<div class="container text-center mr-5">
<div class="row">
<div class="pk col-5 pt-5">	
<p ><i class="fa-solid fa-quote-left"></i>
Quis quoru aliqua sint legam fore sunt eram irure aliqua 
veniam tempor noster veniam enim culpa labore duis sunt culipa nulla
illa cillum fugiat legam esse veniam culpa nisi cillum quid<i class="fa-solid fa-quote-right"></i></p>
<div class="ref6">
<h4>John Larson</h4>
<span>Entrepreneur</span>
<br>
<i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
</div>
</div>
<div class="col-7 pt-5">
<img src="C:\Users\hp\Desktop\Template\assest\images\unnamed.jpg">
</div>
</div>
</div>



<div class=" bg-light">
<div class="task 1">
	<div class="text-center container pt-5">
	<h6 style="font-size: 10px;">CHEFS</h6>
	<span style="font-family:cursive;font-size:20px;">OUR <span>PROFESIONAL CHEFS</span></span>
</div>
	<div class="row" style="font-family: sans-serif;" >
	<div class="col-4 pt-4">	
	<div class="container text-center">
	<div class="card" style="width:400px;">
	<img class="card-img-top" src="C:\Users\hp\Pictures\walter white.JPG" style="width: 100%;">
	<div class="card-body">

	<h4 class="card-title"><b>Walter White</b></h4>
	<span style="padding-bottom:30px;">Master Chef</span>
	
	<p class="card-text">Velit out quia fugit et et.Doolorum ea voluptate vel tempore tempore tenetur ipso quae out.sipsum exercitationem iure minima enim corporis et voluptate.</p>
	</div>
	</div>
	</div>
</div>
<div class="col-4 pt-4">
	<div class="container text-center">
	<div class="card" style="width: 400px;">
	<img class="card-img-top" src="C:\Users\hp\Pictures\card2.JPG" style="width: 100%">
	<div class="card-body">
	<h4 class="card- title"><b>Sarah Jhonson</b></h4>
	<span style="padding-bottom:30px;">Patissier</span>
	<p class="card-text">Quo esse repellendus quio id.Est eum et Accusantium pariatur fugit nihil minima susscipit corporis.voluptate sed quas reiciendis animi neque sapiente.</p>
</div>
</div>
</div>
</div>
<div class="col-4 pt-4">
<div class="container text-center">
<div class="card" style="width: 400px;">
<img class="card-imf-top" src="C:\Users\hp\Pictures\card1.JPG" style="width: 100%;" >
<div class="card-body">
<h4 class="card- title"><b>William Anderson</b></h4>
<span style="padding-bottom:30px;">cook</span>
<p class="card-text">Vero ommnis enin consequator.voluptas consecttur unde qui moiestiae deserunt. voluptate enim out architecto porro aspernatur moieatiae modi.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<br>

<div class="mysha container text-center pt-5">	
<h6>BOOK A TABLE</h6>
<span>BOOK<span> YOUR STAY </span> WITH US </span>
</div>
<div class="container">
<div class="row pt-5 bg-light">
<div class="col-5">
<img src="C:\Users\hp\Desktop\Template\assest\images\cafe.jpeg" width="400" height="500">
</div>

<div class="col-7">
<form>
<div class="row">
<div class="col-4">
<div class="form-group">
<input type="tel" name="form-control" placeholder="your name" name="name">	
</div>
</div>

<div class="col-4">
<div class="form-group">
<input type="tel" name="form-control" placeholder="your Email" name="Emali">
</div>
</div>

<div class="col-4">
<div class="form-group">
	<input type="tel" name="form-control" placeholder="your phone" name="phone">
</div>
</div>
</div>

<div class="exter">
<div class="row">
<div class="col-4">
<div class="form-group">
<input type="text" name="form-control" placeholder="Date" name="Date">
</div>
</div>

<div class="col-4">
<div class="form-group">
<input type="text" name="form-control" placeholder="Time" name="Time">
</div>
</div>

<div class="col-4">
<div class="form-group">
	<input type="text" name="form-control" placeholder="#of people" name="people">
</div>
</div>
</div>
</div>

<div class="form-group">
<textarea class="form-control"rows="5">Message</textarea>	
</div>
</form>

<div class="off text-center">
<button class="btn  badge badge-pill badge-danger ml-5 p-2 pl-3 pr-3" type="submit">Book a Table</button>
</div>
</div>
</div>
</div>


<div class="aaa text-center pt-5">
<h5>CONTACT</h5>	
<span>NEED HELP? <span>CONTACT US</span></span>
</div>
<br>	
<div class=" text-center">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125432.38285197974!2d79.1314494!3d10.7528199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baab89cea453039%3A0xe113da9b1f632be6!2sThanjavur%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1675441314198!5m2!1sen!2sin" width="1320" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<br>
<div class="container p-2">
<div class="row bg-light">
<div class="col-6">
<div class="bbb">
<h6><i class="fa-regular fa-map mt-3 p-1"></i>Our address</h6>
<span>A108 Adam Street, New youk, NY 535022</span>	
</div>
</div>

<div class="col-6 mb-4">
<div class="ccc">
<h6><i class="fa-regular fa-map mt-3 p-1"></i>Email Us</h6>
<span>Contact@example.com</span>
</div>
</div>
</div>
<div class="row badge-light">
<div class="col-6">
<div class="ddd">
<h6><i class="fa-regular fa-map mt-3 p-1"></i>call Us</h6>
<span>+55895548855</span>	
</div>
</div>

<div class="col-6">
<div class="eee">
<h6><i class="fa-regular fa-map mt-3 p-1"></i>Opening Hours</h6>
<span>Mon-Sat:11AM-23PM;Sunday:closed</span>
</div>
</div>
</div>
</div>
<br>
<form>
<div class="container">
<div class="row ml-5">
<div class="col-6">	
<div class="form-group">
<input type="tel" class="form-control" placeholder="your name" name="name">	
</div>
</div>

<div class="col-6">
<div class="form-group">
<input type="tel" class="form-control" placeholder="your Email" name="Emali">
</div>
</div>
</div>

<div class="form-group ml-5">
<textarea class="form-control" rows="1">subject</textarea>	
</div>

<div class="form-group ml-5">
<textarea class="form-control" rows="5">Message</textarea>	
</div>
</form>
<div class=" hepl text-center">
<button class="btn badge badge-pill badge-danger ml-5 p-2 pr-3 pl-3" type="submit">Send message</button>	
</div>
</div>
</div>

<footer class="text-center pt-3 pb-3 mt-5">
	<p>Copyright yummy.All Rights Reserved</p>
	<span>Designed By priyanka</span>
</footer>






</body>
</html>

